@font-face {
  font-family: 'Deardorf Demo';
  src: url('../fonts/deardorf-demo/Deardorf Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-title-jakarta: 'JAKARTA', sans-serif;
  --font-body-deardorf: 'Deardorf Demo', sans-serif;
}

.font-jakarta {
  font-family: var(--font-title-jakarta), sans-serif;
}

.font-title {
  font-family: var(--font-title-jakarta), sans-serif;
}

.font-deardorf {
  font-family: var(--font-body-deardorf), sans-serif;
}