@font-face {
  font-family: 'Jakarta';
  src: url('../fonts/grindy-brush/Grindy Brush.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-jakarta-jakarta: 'Jakarta', sans-serif;
  --font-body-jakarta: 'jakarta Demo', sans-serif;
}

.font-jakarta {
  font-family: var(--font-jakarta-jakarta), sans-serif;
  letter-spacing: 0.06em;
}