@font-face {
  font-family: 'Deardorf Demo';
  src: url('../fonts/deardorf-demo/Deardorf Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jakarta';
  src: url('../fonts/jak-arta/JAK\ ARTA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-jakarta-jakarta: 'Jakarta', sans-serif;
  --font-body-deardorf: 'Deardorf Demo', sans-serif;
}

.font-jakarta {
  font-family: var(--font-jakarta-jakarta), sans-serif;
}

.font-deardorf {
  font-family: var(--font-body-deardorf), sans-serif;
}